@import "settings";
@import "foundation";

.dark-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg: black
  );
  opacity: 0.8;
}

div.feature-item {
  position: relative;
  height: 600px;
  max-width: 1600px;
  overflow-x: hidden;
}

div.feature-item img:first-of-type {
  position: absolute;
  height: 600px;
  max-width: none;
  left: 50%;
  margin-left: -800px;
  display: block;
}

.top-bar .name h1 {
	background-image: url(../img/logo-h.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 216px;
	height: 45px;
  margin-left: 10px;
	cursor: pointer;
}

.top-bar .name h1 span {
	display: none;
}
