@import "settings";
@import "foundation";

/* Navigation */
.top-bar .name h1 {
  background-image: url(../img/logo-h.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 216px;
  height: 45px;
  margin-left: 10px;
  cursor: pointer;
}

.top-bar .name h1 span {
  display: none;
}


/* Items */
div.item {
  margin-bottom: 2em;
}

/* Feature Item */
div.feature-item {
  position: relative;
  height: 600px;
  max-width: 1600px;
  overflow-x: hidden;
}

div.feature-item img:first-of-type {
  position: absolute;
  height: 600px;
  max-width: none;
  left: 50%;
  margin-left: -800px;
  display: block;
}

.dark-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg: black
  );
  opacity: 0.8;
}

/* Video Item */
div.video-item {
  background-color: #000;
}

div.video-item .flex-video {
  margin-bottom: 0;
}

/* Footer */
footer div.row {
  border-top: 1px dashed #ccc;
}
